<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <!-- header: this will just have a button that brings you to login again -->
    <!-- display name of user -->
    <!-- display account balance -->
    <!-- interaction options with account balance -->
    <!-- Display history -->
    <h1>Login</h1>
    {{template "header" .}}
    <br><br><br>
    <input type="email" id="userEmail" placeholder="Enter your email" required>
    <button onclick="submitEmail()">Login</button>

    <script src="static/js/main.js" type="text/javascript"></script>

  </body>
</html>
